@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700&subset=cyrillic');
img {
	position : relative ;
 	top: -5px;
   	left: 1040px;}
h1{
	font-size: 30px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}
h2{
	margin-top: 60px; 
	margin-left: 390px;
	font-family: 'Roboto', sans-serif;
}
p{
	color: grey;
	margin-left: 390px;
	font-family: 'Roboto', sans-serif;
}
button{

  	color: white;
  	text-decoration: none;
  	padding: .8em 1em calc(.8em + 3px);
  	border-radius: 3px;
  	box-shadow: 0 -3px rgb(246,66,49) inset;
  	transition: 0.2s;
  	background: rgb(246,66,49);  
	margin-left: 620px;
}
